.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin-right: 30px;
}
button:hover {
    opacity: 90%;
}
.locations {
    height: 100%;
    width: 25%;
    border-right: #DDDDDD 1px solid;
    box-sizing: border-box;
    padding-left: 40px;
}
.amenities {
    height: 100%;
    width: 25%;
    box-sizing: border-box;
    padding-left: 40px;
    margin-right: auto;
}
.title {
    font-weight: 600;
    margin-bottom: 0;
}
.subtitle {
    font-weight: 400;
    font-size: 14px;
    margin-top: 0;
}
.popover {
    display: none;
    list-style-type: none;
    box-sizing: border-box;
    padding: 30px;
    width: calc(100% + 40px);
    margin-left: -40px;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: relative;
    max-height: 300px;
    overflow-y: auto;
}
.locations:hover .popover {
    display: block;
}
.amenities:hover .popover {
    display: block;
}
.state_in_list {
    font-size: 16px;
    margin-bottom: 0;
}
.sublist {
    list-style-type: none;
    padding-left: 20px;
}
